@model IEnumerable<MIS_CMS.Models.ViewModels.Account.OrderForUserVM>

@{
    ViewBag.Title = "Orders";
}

@if (!Model.Any())
{

}
else
{
    <h2>Orders</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                OrderNumber
            </th>
            <th>
                Order Details
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                Total
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @foreach (var item2 in item.ProductsAndQty)
            {
                @item2.Key @:x @item2.Value <br />
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
           $ @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
          
        </td>
    </tr>
        }

    </table>


}
